#cookies {
    position: fixed;
    width: 100%;
    transition: opacity 5s ease-out, transform 1s ease-out;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(237, 30, 121);
    box-shadow: 0 0 1rem rgb(237, 30, 121);
    animation: flickerBorderRose 1s infinite alternate;
}
.clicked {
    opacity: 0;
    transform: translateY(100px);
}
#cookies button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 2rem;
}
#cookies p {
    max-width: 1200px;
    width: 90%;
    margin: 1rem 0;
    text-align: center;
    color: white;
}
.btn-bar {
    width: 20px;
    border: 1px solid white;
}
/*.bar1 {
    transform: rotateY(-45deg);
}*/

@keyframes flickerBorderRose {
    0%, 53%, 75% {
        border-shadow:
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4);
    }
    34%, 60%, 100% {
        border-shadow:
                0 0 1.5rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4),
                0 0 3rem rgba(237, 30, 121, 4);
    }
}
