.footer {
    width: 100%;
    border-top: 1px rgba(76, 239, 216, 4) solid;
    animation: flickerBorderRoseFooter 1.1s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer p {
    font-size: 0.95rem;
    color: rgba(76, 239, 216, 4);
    margin: 2rem 0;
}

@keyframes flickerBorderRoseFooter {
    0%, 43%, 79% {
        box-shadow:
                0 0 0.4rem rgba(76, 239, 216, 4),
                0 0 0.4rem rgba(76, 239, 216, 4),
                0 0 0.4rem rgba(76, 239, 216, 4),
                0 0 0.6rem rgba(76, 239, 216, 4),
                0 0 1rem rgba(76, 239, 216, 4),
                0 0 1rem rgba(76, 239, 216, 4),
                0 0 1rem rgba(76, 239, 216, 4);
    }
    32%, 66%, 100% {
        box-shadow:
                0 0 1.5rem rgba(76, 239, 216, 4),
                0 0 0.6rem rgba(76, 239, 216, 4),
                0 0 0.6rem rgba(76, 239, 216, 4),
                0 0 0.6rem rgba(76, 239, 216, 4);
    }
}