.footer {
    width: 100%;
    border-top: 1px rgba(237, 30, 121, 4) solid;
    animation: flickerBorderRoseFooter 1s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer p {
    font-size: 0.95rem;
    color: rgba(237, 30, 121, 4);
    margin: 4rem 0;
}

@keyframes flickerBorderRoseFooter {
    0%, 53%, 75% {
        box-shadow:
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4);
    }
    34%, 60%, 100% {
        box-shadow:
                0 0 1.5rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4),
                0 0 3rem rgba(237, 30, 121, 4);
    }
}