@media screen and (max-width: 1300px) {
    .tur-cont-btn .neon-button-rose {
        width: 7.5rem;
        font-size: 1rem;
        padding: 0.75rem;
    }
}
@media screen and (max-width: 1000px) {
    .tur-cont-btn .neon-button-rose {
        width: 10rem;
        font-size: 1.25rem;
        padding: 1rem;
    }
    .tur-cont-img {
        display: none;
    }
    .tur-cont-cont{
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .tur-cont-btn .neon-button-rose {
        width: 8rem;
        font-size: 1rem;
        padding: 0.75rem;
    }
}