.table {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5rem;
    color: #dee2e6;
    margin-top: 2rem;
}

.row {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.col-border {
    border-left: 2px solid #f1c8d5;

    width: 0;
    padding: 0;
    margin: 0;

    box-shadow:
            0 0 0.4rem rgba(237, 30, 121, 4),
            0 0 0.4rem rgba(237, 30, 121, 4),
            0 0 0.4rem rgba(237, 30, 121, 4),
            0 0 0.6rem rgba(237, 30, 121, 4),
            0 0 1rem rgba(237, 30, 121, 4),
            0 0 1rem rgba(237, 30, 121, 4),
            0 0 1rem rgba(237, 30, 121, 4),
            0 0 2rem rgba(237, 30, 121, 4);
}

.table-item-left {
    font-size: 1.5rem;
    text-align: right;
    padding: 1rem 2rem;

}

.table-item-right {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 2rem;
}

.text-blue {
    color: #4CEFD8;
    font-weight: bold;
}

@keyframes flickerBorderRose {
    0%, 53%, 75% {

    }
    34%, 60%, 100% {
        box-shadow:
                0 0 1.5rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4),
                0 0 3rem rgba(237, 30, 121, 4);
    }
}

