.table {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.row-left {
    width: 25rem;
    padding-right: 2rem;
    text-align: right;
    color: #fff;
}

.row-right {
    width: 25rem;
    padding-left: 2rem;
    text-align: left;
    color: #dee2e6;
}

.row-border {
    border-right: 2px solid #eeafc9;
    animation: flickerBorderRose 1s infinite alternate;
}

.table-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.text-blue {
    color: #4CEFD8;
    font-weight: bold;
}

@keyframes flickerBorderRose {
    0%, 53%, 75% {
        box-shadow:
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4);
    }
    34%, 60%, 100% {
        box-shadow:
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4),
                0 0 3rem rgba(237, 30, 121, 4);
    }
}
