.table {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.row {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.col-border {
    border-right: 2px solid #eeafc9;
    animation: flickerBorderRose 1s infinite alternate;
}

.table-item-left {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: right;
}

.table-item-right {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: left;
}

.text-blue {
    color: #4CEFD8;
    font-weight: bold;
}

@keyframes flickerBorderRose {
    0%, 53%, 75% {
        box-shadow:
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.4rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 1rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4);
    }
    34%, 60%, 100% {
        box-shadow:
                0 0 1.5rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 0.6rem rgba(237, 30, 121, 4),
                0 0 2rem rgba(237, 30, 121, 4),
                0 0 3rem rgba(237, 30, 121, 4);
    }
}

